In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder, LabelEncoder, label_binarize, StandardScaler, MinMaxScaler
from sklearn.linear_model import RidgeCV,Lasso
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split

In [2]:
data=df=pd.read_csv("C:\\Users\\Yacou\\Desktop\\Yacouba_New\\climte\\Data\\Rendements\\okay\\sorgho.csv")

In [3]:
data

,provinces,year,Tmin_ERA5,ERA5_Pressure,ERA5_Tmax,ERA5_soil_moisture,ERA5_wins,ARC2_year,Best_Temp_Max,Best_Temp,...,EA,NAO,NTA,PDO,gmsst,qbo,sahel_rainfal,tna,tsa,Rend_sorgho_03_17
0,Bale,2003,295.584328,101230.9542,303.000166,0.391510,2.166261,1003.442320,32.618614,21.432137,...,0.416667,-0.013333,0.020000,0.916667,0.736667,-13.300000,63.666667,0.093333,0.296667,[Table]
1,Banwa,2003,295.431019,101233.7360,302.988727,0.342940,2.125180,1034.890135,32.335017,21.273757,...,0.416667,-0.013333,0.020000,0.916667,0.736667,-13.300000,63.666667,0.093333,0.296667,[Table]
2,Kossi,2003,296.051885,101192.5439,304.064816,0.314432,2.105461,931.704089,32.671085,21.807773,...,0.416667,-0.013333,0.020000,0.916667,0.736667,-13.300000,63.666667,0.093333,0.296667,[Table]
3,Mouhoun,2003,295.716811,101218.7136,303.287004,0.349711,2.159050,976.461245,32.606874,21.563665,...,0.416667,-0.013333,0.020000,0.916667,0.736667,-13.300000,63.666667,0.093333,0.296667,[Table]
4,Nayala,2003,296.022091,101195.9226,303.952478,0.277857,2.092913,927.707918,32.770620,21.646572,...,0.416667,-0.013333,0.020000,0.916667,0.736667,-13.300000,63.666667,0.093333,0.296667,[Table]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,Yagha,2017,297.211021,101134.8178,306.135222,0.245979,2.651944,712.364718,34.883482,23.824044,...,0.843333,0.123333,0.463333,0.930000,1.093333,6.236667,184.666667,0.550000,0.480000,[Table]
671,Bougouriba,2017,295.717496,101263.5979,303.065710,0.337776,2.301082,872.587721,33.024075,21.651376,...,0.843333,0.123333,0.463333,0.930000,1.093333,6.236667,184.666667,0.550000,0.480000,[Table]
672,Ioba,2017,295.839524,101251.7874,303.252160,0.340872,2.265707,846.702238,32.851640,21.491019,...,0.843333,0.123333,0.463333,0.930000,1.093333,6.236667,184.666667,0.550000,0.480000,[Table]
673,Noumbiel,2017,295.490979,101295.3581,302.529397,0.387694,2.238024,708.387964,32.424919,21.085298,...,0.843333,0.123333,0.463333,0.930000,1.093333,6.236667,184.666667,0.550000,0.480000,[Table]
674,Poni,2017,295.409472,101288.2824,302.535227,0.395411,2.316537,801.715258,32.963440,21.598086,...,0.843333,0.123333,0.463333,0.930000,1.093333,6.236667,184.666667,0.550000,0.480000,[Table]

In [4]:
col=data.columns
col

Index(['provinces', 'year', 'Tmin_ERA5', 'ERA5_Pressure', 'ERA5_Tmax',
       'ERA5_soil_moisture', 'ERA5_wins', 'ARC2_year', 'Best_Temp_Max',
       'Best_Temp', 'NDVI', 'Tamsat_Prec', 'chirps_Prec', 'CDD', 'CWD',
       'PRCPTOT', 'R10mm', 'R1mm', 'R20mm', 'R5mm', 'R95pTOT', 'R99pTOT',
       'RX1day', 'RX5day', 'SDII', 'TNn', 'TXn', 'TNx', 'TXx', 'Nino', 'AMM',
       'AMO', 'AO', 'EA', 'NAO', 'NTA', 'PDO', 'gmsst', 'qbo', 'sahel_rainfal',
       'tna', 'tsa', 'Rend_sorgho_03_17'],
      dtype='object')