In [39]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder, LabelEncoder, label_binarize, StandardScaler, MinMaxScaler
from sklearn.linear_model import RidgeCV,Lasso
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split

In [40]:
df=data = pd.read_csv('data_mais.csv')
df.headad()

,province,year,driver.TSA,Driver.TNA,sahel_rainfall,QBO,NAO,gmsst,EA,AMM_sst,...,TXn,Chirts_Tmax_Temp,Chirts_Tmin_Temp,ERA5_Pressure,ERA5_wins,chirps_Prec,ERA5_soil_moisture,NDVI,Mais_area,mais
0,Bale,2000,0.286667,-0.076667,-1.333333,-1.613333,0.54,0.626667,-0.110000,-1.90,...,27.480223,30.922271,23.199671,101164.2983,2.297034,758.166110,0.387494,0.161495,11873.99268,1645.384171
1,Bam,2000,0.286667,-0.076667,-1.333333,-1.613333,0.54,0.626667,-0.110000,-1.90,...,29.030460,33.315506,24.437828,101080.2082,2.486396,512.259347,0.216186,0.087916,1315.00000,180.000000
2,Banwa,2000,0.286667,-0.076667,-1.333333,-1.613333,0.54,0.626667,-0.110000,-1.90,...,27.881790,31.130041,23.347214,101163.6513,2.308840,714.185174,0.325074,0.157605,24365.57953,1408.793452
3,Bazega,2000,0.286667,-0.076667,-1.333333,-1.613333,0.54,0.626667,-0.110000,-1.90,...,28.573809,31.950975,24.028827,101155.1001,2.347257,667.293693,0.330751,0.146777,4974.00000,951.000000
4,Kossi,2000,0.286667,-0.076667,-1.333333,-1.613333,0.54,0.626667,-0.110000,-1.90,...,28.542761,32.247037,23.966050,101115.5259,2.279619,609.183754,0.296759,0.125620,7109.00000,535.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
760,Zoundweogo,2016,0.473333,0.363333,64.666667,2.290000,-0.18,1.206667,-1.446667,-0.53,...,27.172490,31.491948,24.569538,101237.8495,2.249123,957.519613,0.373106,0.127583,29775.83333,1862.591477
761,Tuy,2016,0.473333,0.363333,64.666667,2.290000,-0.18,1.206667,-1.446667,-0.53,...,26.388147,30.800521,23.550653,101248.6669,2.199674,985.288182,0.336739,0.178078,93343.79470,2670.053306
762,Ziro,2016,0.473333,0.363333,64.666667,2.290000,-0.18,1.206667,-1.446667,-0.53,...,27.285031,31.304793,24.271595,101250.7688,2.213240,994.080679,0.350803,0.187898,40717.44181,1386.397024
763,Yagha,2016,0.473333,0.363333,64.666667,2.290000,-0.18,1.206667,-1.446667,-0.53,...,29.325485,34.041197,25.675323,101138.7258,2.629515,608.402424,0.263464,0.078301,65678.00487,834.129011
764,Zondoma,2016,0.473333,0.363333,64.666667,2.290000,-0.18,1.206667,-1.446667,-0.53,...,27.118584,32.359881,24.183867,101190.4650,2.307139,776.613143,0.200586,0.110635,35228.33952,775.933451

In [5]:
X = pd.concat([df.iloc[:, 1],df.iloc[:, 2:3]], axis=1)

In [20]:
def model(df,n,a,b):

    X = pd.concat([df.iloc[:, 1],df.iloc[:, 2:38]], axis=1)
    y = df.iloc[:, 38]
    catvar=['province']
    dummyvars = pd.get_dummies(df[catvar])

    #numvar=['annee','Chirts_Tmax_Temp','Chirts_Tmin_Temp','ERA5_Pressure','ERA5_wins','chirps_Prec']
    numdata_std = pd.DataFrame(StandardScaler().fit_transform(X))
     #numdata_std=numdata_std.rename(columns={0:'annee',1:'Chirts_Tmax_Temp',2:'Chirts_Tmin_Temp',3:'ERA5_Pressure',4:'ERA5_wins',5:'chirps_Prec'})

    data_end = pd.concat([dummyvars,numdata_std], axis = 1)
    X=data_end
    X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.2,random_state=n) 

    model1 = RidgeCV()
    model2 = Lasso(normalize=True, tol=1e-3)
    model3 = RandomForestRegressor(n_estimators = 2000,max_depth=82)
    model4 = DecisionTreeRegressor(max_depth=80) 

    model1.fit(X_train, y_train)
    model2.fit(X_train, y_train)
    model3.fit(X_train, y_train)
    model4.fit(X_train, y_train)

    train_RidgeCV=model1.score(X_train, y_train)
    test_RidgeCV=model1.score(X_test, y_test)

    train_LassoCV=model2.score(X_train, y_train)
    test_LassoCV=model2.score(X_test, y_test)

    train_RandomForest=model3.score(X_train, y_train)
    test_RandomForest=model3.score(X_test, y_test)

    train_DecisionTree=model4.score(X_train, y_train)
    test_DecisionTree=model4.score(X_test, y_test)


    data = {'model': ['RandomForest', 'DecisionTree', 'RidgeCV', 'Lasso'],
        'Score_train': [train_RandomForest, train_DecisionTree, train_RidgeCV, train_LassoCV],
        'score_test': [test_RandomForest, test_DecisionTree, test_RidgeCV, test_LassoCV]
        }

   # data = {'model': ['RandomForest', 'DecisionTree'],
     #   'Score_train': [train_RandomForest, train_DecisionTree],
     #   'score_test': [test_RandomForest, test_DecisionTree]
     #   }

    d = pd.DataFrame(data)
    return d

In [32]:
model(df,3,2,38) # all climate variables

          model  Score_train  score_test
0  RandomForest     0.938569    0.608366
1  DecisionTree     1.000000    0.154892
2       RidgeCV     0.700634    0.665790
3         Lasso     0.588926    0.570848

In [33]:
model(df,3,2,31)

          model  Score_train  score_test
0  RandomForest     0.938822    0.609476
1  DecisionTree     1.000000    0.203491
2       RidgeCV     0.700634    0.665790
3         Lasso     0.588926    0.570848

In [34]:
model(df,3,2,15) # prediction using drivers

          model  Score_train  score_test
0  RandomForest     0.938264    0.606036
1  DecisionTree     1.000000    0.262356
2       RidgeCV     0.700634    0.665790
3         Lasso     0.588926    0.570848

In [35]:
model(df,3,15,31) # prediction using climate index (extreme climate index)

          model  Score_train  score_test
0  RandomForest     0.938187    0.608162
1  DecisionTree     1.000000    0.144519
2       RidgeCV     0.700634    0.665790
3         Lasso     0.588926    0.570848

In [38]:
model(df,3,31,38) # prediction using mean climate variable

          model  Score_train  score_test
0  RandomForest     0.938394    0.608221
1  DecisionTree     1.000000    0.247710
2       RidgeCV     0.700634    0.665790
3         Lasso     0.588926    0.570848

In [41]:
model1 = RidgeCV()

model1.fit(X_train, y_train)

print(f'model score on training data: {model1.score(X_train, y_train)}')
print(f'model score on testing data: {model1.score(X_test, y_test)}')

model score on training data: 0.3560292843411855
model score on testing data: 0.17095631025867963

In [55]:

model2 = RandomForestRegressor(max_depth=34)

model2.fit(X_train, y_train)

print(f'model score on training data: {model2.score(X_train, y_train)}')
print(f'model score on testing data: {model2.score(X_test, y_test)}')

model score on training data: 0.8947242379966791
model score on testing data: 0.09540986359413484