In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('Mil_all.csv')

In [23]:
X = pd.concat([data.iloc[:, 1],data.iloc[:, 29:37]], axis=1)
y = data.iloc[:, 37]
X

,year,TXn,Chirts_Tmax_Temp,Chirts_Tmin_Temp,ERA5_Pressure,ERA5_wins,chirps_Prec,ERA5_soil_moisture,NDVI
0,2000,27.480223,30.922271,23.199671,101164.2983,2.297034,758.166110,0.387494,0.161495
1,2000,29.030460,33.315506,24.437828,101080.2082,2.486396,512.259347,0.216186,0.087916
2,2001,27.160694,30.982465,23.648841,101230.8929,2.354358,834.762064,0.384737,0.151293
3,2000,27.881790,31.130041,23.347214,101163.6513,2.308840,714.185174,0.325074,0.157605
4,2002,26.515894,31.162913,23.854538,101202.3614,2.423180,728.571496,0.361794,0.126205
...,...,...,...,...,...,...,...,...,...
760,2016,27.285031,31.304793,24.271595,101250.7688,2.213240,994.080679,0.350803,0.187898
761,2015,27.980089,31.607796,24.646400,101233.8396,2.204683,941.527205,0.367755,0.114412
762,2015,27.734897,32.029358,23.836421,101194.1389,2.179053,781.464918,0.216907,0.099424
763,2016,27.118584,32.359881,24.183867,101190.4650,2.307139,776.613143,0.200586,0.110635
764,2016,27.172490,31.491948,24.569538,101237.8495,2.249123,957.519613,0.373106,0.127583

In [18]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder, label_binarize, StandardScaler, MinMaxScaler

catvar=['province']
dummyvars = pd.get_dummies(data[catvar])

#numvar=['annee','Chirts_Tmax_Temp','Chirts_Tmin_Temp','ERA5_Pressure','ERA5_wins','chirps_Prec']
numdata_std = pd.DataFrame(StandardScaler().fit_transform(X))
#numdata_std=numdata_std.rename(columns={0:'annee',1:'Chirts_Tmax_Temp',2:'Chirts_Tmin_Temp',3:'ERA5_Pressure',4:'ERA5_wins',5:'chirps_Prec'})

In [19]:
data_end = pd.concat([dummyvars,X], axis = 1)
X=data_end
X.head()

,province_Bale,province_Bam,province_Banwa,province_Bazega,province_Bougouriba,province_Boulgou,province_Boulkiemde,province_Comoe,province_Ganzourgou,province_Gnagna,...,R99pTOT,RX1day,RX5day,SDII,CWD,CDD,TNn,TNx,TXx,TXn
0,1,0,0,0,0,0,0,0,0,0,...,0.000000,40.263412,26.899586,9.203399,7,11,21.907986,24.988303,34.273820,27.480223
1,0,1,0,0,0,0,0,0,0,0,...,0.000000,41.466644,32.458529,9.829955,6,8,22.901617,26.651926,37.970008,29.030460
2,1,0,0,0,0,0,0,0,0,0,...,39.814897,59.136768,39.814897,11.561656,5,9,21.782771,25.331138,35.254153,27.160694
3,0,0,1,0,0,0,0,0,0,0,...,0.000000,48.875210,34.117735,8.975249,9,8,22.026992,25.093518,35.126816,27.881790
4,1,0,0,0,0,0,0,0,0,0,...,0.000000,53.219185,28.984173,9.790123,8,12,22.044470,25.931217,35.418921,26.515894

In [20]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.2,random_state=1)

In [21]:
from sklearn.linear_model import RidgeCV

model = RidgeCV()

model.fit(X_train, y_train)

print(f'model score on training data: {model.score(X_train, y_train)}')
print(f'model score on testing data: {model.score(X_test, y_test)}')

model score on training data: 0.30138834875503784
model score on testing data: 0.09811237642431347

In [13]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor(max_depth=34)

model.fit(X_train, y_train)

print(f'model score on training data: {model.score(X_train, y_train)}')
print(f'model score on testing data: {model.score(X_test, y_test)}')

model score on training data: 0.8797258933152445
model score on testing data: 0.07885692490560647