In [8]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder, LabelEncoder, label_binarize, StandardScaler, MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import RidgeCV,LassoCV,Lasso
from sklearn.decomposition import PCA
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeRegressor

In [10]:
df=data = pd.read_csv('mil_all.csv')
df

,province,year,driver.TSA,Driver.TNA,sahel_rainfall,QBO,NAO,gmsst,EA,AMM_sst,...,TXx,TXn,Chirts_Tmax_Temp,Chirts_Tmin_Temp,ERA5_Pressure,ERA5_wins,chirps_Prec,ERA5_soil_moisture,NDVI,Mil.rendement
0,Bale,2000,0.286667,-0.076667,-1.333333,-1.613333,0.540000,0.626667,-0.110000,-1.900000,...,34.273820,27.480223,30.922271,23.199671,101164.2983,2.297034,758.166110,0.387494,0.161495,966.11
1,Bam,2000,0.286667,-0.076667,-1.333333,-1.613333,0.540000,0.626667,-0.110000,-1.900000,...,37.970008,29.030460,33.315506,24.437828,101080.2082,2.486396,512.259347,0.216186,0.087916,428.00
2,Bale,2001,0.403333,0.116667,41.000000,-20.676667,-0.003333,0.663333,0.456667,-1.390000,...,35.254153,27.160694,30.982465,23.648841,101230.8929,2.354358,834.762064,0.384737,0.151293,979.60
3,Banwa,2000,0.286667,-0.076667,-1.333333,-1.613333,0.540000,0.626667,-0.110000,-1.900000,...,35.126816,27.881790,31.130041,23.347214,101163.6513,2.308840,714.185174,0.325074,0.157605,956.89
4,Bale,2002,0.376667,-0.113333,-74.666667,13.816667,0.560000,0.773333,0.106667,-3.733333,...,35.418921,26.515894,31.162913,23.854538,101202.3614,2.423180,728.571496,0.361794,0.126205,850.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
760,Ziro,2016,0.473333,0.363333,64.666667,2.290000,-0.180000,1.206667,-1.446667,-0.530000,...,35.084163,27.285031,31.304793,24.271595,101250.7688,2.213240,994.080679,0.350803,0.187898,841.10
761,Zoundweogo,2015,0.400000,-0.076667,-81.000000,-11.510000,0.356667,0.893333,-0.386667,-4.620000,...,36.772313,27.980089,31.607796,24.646400,101233.8396,2.204683,941.527205,0.367755,0.114412,1165.20
762,Zondoma,2015,0.400000,-0.076667,-81.000000,-11.510000,0.356667,0.893333,-0.386667,-4.620000,...,37.901526,27.734897,32.029358,23.836421,101194.1389,2.179053,781.464918,0.216907,0.099424,1147.40
763,Zondoma,2016,0.473333,0.363333,64.666667,2.290000,-0.180000,1.206667,-1.446667,-0.530000,...,37.605990,27.118584,32.359881,24.183867,101190.4650,2.307139,776.613143,0.200586,0.110635,524.50
764,Zoundweogo,2016,0.473333,0.363333,64.666667,2.290000,-0.180000,1.206667,-1.446667,-0.530000,...,34.827836,27.172490,31.491948,24.569538,101237.8495,2.249123,957.519613,0.373106,0.127583,1127.60

In [11]:
vect=['Bale','Banwa','Kossi','Mouhoun',	'Nayala',	'Sourou',	'Comoe'	,
      'Leraba',	'Boulgou',	'Koulpelogo',	'Kouritenga',	'Bam'	,'Namentenga',
      'Sanmatenga',	'Boulkiemde',	'Sanguie'	,'Sissili',	'Ziro',	'Bazega',	'Nahouri',
      'Zoundweogo',	'Kadiogo','Gnagna',	'Gourma',	'Komandjoari',	'Kompienga'	,'Tapoa',
      'Houet'	,'Kenedougou',	'Tuy','Loroum',	'Passore',	'Yatenga',	'Zondoma',	'Ganzourgou',
      'Kourweogo',	'Oubritenga',
      'Oudalan','Seno',	'Soum',	'Yagha','Bougouriba',	'Ioba',	'Noumbiel',	'Poni']

In [14]:
def model(df,n):

    catvar=['province']
    dummyvars = pd.get_dummies(df[catvar])
    dt= df.iloc[:, 1:]
    
    dt = pd.DataFrame(StandardScaler().fit_transform(dt))
    dt=sc=dt.rename(columns={0:'year', 1:'driver.TSA', 2:'Driver.TNA', 3:'sahel_rainfall', 4:'QBO', 5:'NAO',
       6:'gmsst', 7:'EA', 8:'AMM_sst', 9:'Driver.NTA', 10:'AMO_sst', 11:'Driver.AO', 12:'PDO',
       13:'PRCPTOT', 14:'R10mm', 15:'R1mm', 16:'R20mm', 17:'R5mm', 18:'R95pTOT', 19:'R99pTOT',
       20:'RX1day', 21:'RX5day',22: 'SDII', 23:'CWD', 24:'CDD', 25:'TNn', 26:'TNx', 27:'TXx', 28:'TXn',
       29:'Chirts_Tmax_Temp', 30:'Chirts_Tmin_Temp', 31:'ERA5_Pressure', 32:'ERA5_wins',
       33:'chirps_Prec', 34:'ERA5_soil_moisture', 35:'NDVI', 36:'Mil.rendement'})
    
    
    cor=pd.DataFrame(pd.DataFrame(dt.corr()).iloc[:,36])
    
    absolute=cor['Mil.rendement'].abs()

    sort=pd.DataFrame(absolute).sort_values(by=['Mil.rendement'],ascending=False)
    bbb=sort.loc[sort['Mil.rendement'] >= .2]
    index_list = bbb.index.tolist()
    data=sc[index_list]
    
    data_end = pd.concat([data,dummyvars], axis = 1)
    
    nb= len(data_end.columns)
    print(nb)
    X=data_end.iloc[:,1:]
    y=data_end.iloc[:,0]

    X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.2,random_state=n) 

    model1 = RidgeCV()
    model2 = Lasso()
    model3 = RandomForestRegressor(n_estimators = 2000,max_depth=82)
    model4 = DecisionTreeRegressor(max_depth=80) 

    model1.fit(X_train, y_train)
    model2.fit(X_train, y_train)
    model3.fit(X_train, y_train)
    model4.fit(X_train, y_train)

    train_RidgeCV=model1.score(X_train, y_train)
    test_RidgeCV=model1.score(X_test, y_test)

    train_LassoCV=model2.score(X_train, y_train)
    test_LassoCV=model2.score(X_test, y_test)

    train_RandomForest=model3.score(X_train, y_train)
    test_RandomForest=model3.score(X_test, y_test)

    train_DecisionTree=model4.score(X_train, y_train)
    test_DecisionTree=model4.score(X_test, y_test)


    data1 = {'model': ['RandomForest', 'DecisionTree', 'RidgeCV', 'Lasso'],
        'Score_train': [train_RandomForest, train_DecisionTree, train_RidgeCV, train_LassoCV],
        'score_test': [test_RandomForest, test_DecisionTree, test_RidgeCV, test_LassoCV]
        }

   # data = {'model': ['RandomForest', 'DecisionTree'],
     #   'Score_train': [train_RandomForest, train_DecisionTree],
     #   'score_test': [test_RandomForest, test_DecisionTree]
     #   }

    d = pd.DataFrame(data1)
    return d

In [16]:
model(df,n=3)

61

          model  Score_train  score_test
0  RandomForest     0.890734    0.076573
1  DecisionTree     1.000000   -0.402979
2       RidgeCV     0.342127    0.028062
3         Lasso     0.000000   -0.006961

In [17]:
def model_province(dt,n,level):
    m=level
    m=np.repeat(m,4, axis=0)
    m={'province':m}
    m=pd.DataFrame(m)
    m=pd.concat([m,model(dt,n,level)],axis = 1)
    return m

In [18]:
model_province(df,3,'Ganzourgou')

TypeError: model() takes 2 positional arguments but 3 were given

In [24]:
def Data(dt,n,v):
    D=pd.DataFrame()
    for i in range(0,len(v)):
        P=v[i]
        D=pd.concat([D,model_province(dt,n,P)],axis = 0)
    return D

In [37]:
cccc=pd.DataFrame( Data(df,1,vect))

In [34]:
cccc.loc[cccc['model'].isin(['RandomForest','RidgeCV'])]

    province         model  Score_train  score_test
0       Bale  RandomForest     0.912584    0.021388
2       Bale       RidgeCV     0.999972   -0.663976
0      Banwa  RandomForest     0.970601    0.563370
2      Banwa       RidgeCV     0.999239    0.990847
0      Kossi  RandomForest     0.938790    0.886171
..       ...           ...          ...         ...
2       Ioba       RidgeCV     0.999954    0.261123
0   Noumbiel  RandomForest     0.954269    0.798944
2   Noumbiel       RidgeCV     0.995328    0.795196
0       Poni  RandomForest     0.936955    0.671438
2       Poni       RidgeCV     0.999933    0.698045

[90 rows x 4 columns]

In [35]:
cccc

    province         model  Score_train  score_test
0       Bale  RandomForest     0.912584    0.021388
1       Bale  DecisionTree     1.000000    0.521074
2       Bale       RidgeCV     0.999972   -0.663976
3       Bale         Lasso     0.000000   -1.150267
0      Banwa  RandomForest     0.970601    0.563370
..       ...           ...          ...         ...
3   Noumbiel         Lasso     0.000000   -0.003587
0       Poni  RandomForest     0.936955    0.671438
1       Poni  DecisionTree     1.000000    0.971065
2       Poni       RidgeCV     0.999933    0.698045
3       Poni         Lasso     0.000000   -0.024242

[180 rows x 4 columns]

In [31]:
cccc[cccc['score_test'] >= 0.3 ]

    province         model  Score_train  score_test
0       Bale  RandomForest     0.916245    0.799342
1       Bale  DecisionTree     1.000000    0.891920
2       Bale       RidgeCV     0.999958    0.615785
2      Banwa       RidgeCV     0.999149    0.680693
0     Nayala  RandomForest     0.950992    0.693541
..       ...           ...          ...         ...
2       Ioba       RidgeCV     0.999954    0.639965
0   Noumbiel  RandomForest     0.954857    0.591473
1   Noumbiel  DecisionTree     1.000000    0.960110
2   Noumbiel       RidgeCV     0.999399    0.993332
2       Poni       RidgeCV     0.999887    0.435273

[87 rows x 4 columns]

In [38]:
cccc.to_csv('aaa.csv')