In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('Mil_all.csv')

In [3]:
X = pd.concat([data.iloc[:, 1],data.iloc[:, 2:37]], axis=1)
y = data.iloc[:, 37]
X

,year,driver.TSA,Driver.TNA,sahel_rainfall,QBO,NAO,gmsst,EA,AMM_sst,Driver.NTA,...,TNx,TXx,TXn,Chirts_Tmax_Temp,Chirts_Tmin_Temp,ERA5_Pressure,ERA5_wins,chirps_Prec,ERA5_soil_moisture,NDVI
0,2000,0.286667,-0.076667,-1.333333,-1.613333,0.540000,0.626667,-0.110000,-1.900000,-0.206667,...,24.988303,34.273820,27.480223,30.922271,23.199671,101164.2983,2.297034,758.166110,0.387494,0.161495
1,2000,0.286667,-0.076667,-1.333333,-1.613333,0.540000,0.626667,-0.110000,-1.900000,-0.206667,...,26.651926,37.970008,29.030460,33.315506,24.437828,101080.2082,2.486396,512.259347,0.216186,0.087916
2,2001,0.403333,0.116667,41.000000,-20.676667,-0.003333,0.663333,0.456667,-1.390000,-0.010000,...,25.331138,35.254153,27.160694,30.982465,23.648841,101230.8929,2.354358,834.762064,0.384737,0.151293
3,2000,0.286667,-0.076667,-1.333333,-1.613333,0.540000,0.626667,-0.110000,-1.900000,-0.206667,...,25.093518,35.126816,27.881790,31.130041,23.347214,101163.6513,2.308840,714.185174,0.325074,0.157605
4,2002,0.376667,-0.113333,-74.666667,13.816667,0.560000,0.773333,0.106667,-3.733333,-0.120000,...,25.931217,35.418921,26.515894,31.162913,23.854538,101202.3614,2.423180,728.571496,0.361794,0.126205
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
760,2016,0.473333,0.363333,64.666667,2.290000,-0.180000,1.206667,-1.446667,-0.530000,0.296667,...,25.876339,35.084163,27.285031,31.304793,24.271595,101250.7688,2.213240,994.080679,0.350803,0.187898
761,2015,0.400000,-0.076667,-81.000000,-11.510000,0.356667,0.893333,-0.386667,-4.620000,-0.086667,...,26.207958,36.772313,27.980089,31.607796,24.646400,101233.8396,2.204683,941.527205,0.367755,0.114412
762,2015,0.400000,-0.076667,-81.000000,-11.510000,0.356667,0.893333,-0.386667,-4.620000,-0.086667,...,26.208652,37.901526,27.734897,32.029358,23.836421,101194.1389,2.179053,781.464918,0.216907,0.099424
763,2016,0.473333,0.363333,64.666667,2.290000,-0.180000,1.206667,-1.446667,-0.530000,0.296667,...,26.189960,37.605990,27.118584,32.359881,24.183867,101190.4650,2.307139,776.613143,0.200586,0.110635
764,2016,0.473333,0.363333,64.666667,2.290000,-0.180000,1.206667,-1.446667,-0.530000,0.296667,...,26.074421,34.827836,27.172490,31.491948,24.569538,101237.8495,2.249123,957.519613,0.373106,0.127583

In [4]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder, label_binarize, StandardScaler, MinMaxScaler

catvar=['province']
dummyvars = pd.get_dummies(data[catvar])

#numvar=['annee','Chirts_Tmax_Temp','Chirts_Tmin_Temp','ERA5_Pressure','ERA5_wins','chirps_Prec']
numdata_std = pd.DataFrame(StandardScaler().fit_transform(X))
#numdata_std=numdata_std.rename(columns={0:'annee',1:'Chirts_Tmax_Temp',2:'Chirts_Tmin_Temp',3:'ERA5_Pressure',4:'ERA5_wins',5:'chirps_Prec'})

In [5]:
data_end = pd.concat([dummyvars,X], axis = 1)
X=data_end
X.head()

,province_Bale,province_Bam,province_Banwa,province_Bazega,province_Bougouriba,province_Boulgou,province_Boulkiemde,province_Comoe,province_Ganzourgou,province_Gnagna,...,TNx,TXx,TXn,Chirts_Tmax_Temp,Chirts_Tmin_Temp,ERA5_Pressure,ERA5_wins,chirps_Prec,ERA5_soil_moisture,NDVI
0,1,0,0,0,0,0,0,0,0,0,...,24.988303,34.273820,27.480223,30.922271,23.199671,101164.2983,2.297034,758.166110,0.387494,0.161495
1,0,1,0,0,0,0,0,0,0,0,...,26.651926,37.970008,29.030460,33.315506,24.437828,101080.2082,2.486396,512.259347,0.216186,0.087916
2,1,0,0,0,0,0,0,0,0,0,...,25.331138,35.254153,27.160694,30.982465,23.648841,101230.8929,2.354358,834.762064,0.384737,0.151293
3,0,0,1,0,0,0,0,0,0,0,...,25.093518,35.126816,27.881790,31.130041,23.347214,101163.6513,2.308840,714.185174,0.325074,0.157605
4,1,0,0,0,0,0,0,0,0,0,...,25.931217,35.418921,26.515894,31.162913,23.854538,101202.3614,2.423180,728.571496,0.361794,0.126205

In [53]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.2,random_state=1)

In [54]:
from sklearn.linear_model import RidgeCV

model = RidgeCV()

model.fit(X_train, y_train)

print(f'model score on training data: {model.score(X_train, y_train)}')
print(f'model score on testing data: {model.score(X_test, y_test)}')

model score on training data: 0.3560292843411855
model score on testing data: 0.17095631025867963

In [55]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor(max_depth=34)

model.fit(X_train, y_train)

print(f'model score on training data: {model.score(X_train, y_train)}')
print(f'model score on testing data: {model.score(X_test, y_test)}')

model score on training data: 0.8947242379966791
model score on testing data: 0.09540986359413484